body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;

}

h1, h2 {
    font-size: 60px;
    font-weight: 800;

    color: #1C2323;
}
.button {
    padding: 10px 20px;
    background-color: #58A9A5;
    border: 5px solid #58A9A5;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #468581;
    border: 5px solid #468581;
}

/* header */
.main-header {
    width: 95%;
    margin: 20px auto;
}
.conteiner {
    width: 95%;
    margin: 20px auto;
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-navigation-item {
    float:left;
    margin-right:85px;
  }


.main-navigation-list {
    margin: 0;

    list-style: none;
}

.main-navigation-list a {
    font-size: 25px;
    text-decoration: none;

    color: #404242;
}

.main-navigation-list a:focus,
.main-navigation-list a:hover
 {
    text-decoration: underline;
    
    color: #58A9A5;
}

/* banner */

.main-banner {
    display: flex;
    justify-content: space-between;

    margin-top: 105px;
}

.main-banner-left p {
    margin-bottom: 50px;

    font-size: 30px;
    font-weight: 400;
    color: #404242;
}

/* how-it-works */
.main-how-it-works {
    margin-top: 120px;

    text-align: center;
}

.main-how-it-works p{
    color: #404242;
    font-weight: 400px;
    font-size: 30px;
}

.main-how-it-works-first {
    display: flex;
    justify-content: space-between;
    text-align: left;

    background-color: #CCF0E6;
}

.main-how-it-works-first-right {
    background-color: #CCF0E6;
}

.main-how-it-works-first-right p {
    font-size: 20px;
    font-weight: 500;   
}